@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import: Mabry Pro */
@font-face {
  font-family: 'Mabry Pro';
  src: local('Mabry Pro Regular'),
    url('../fonts/mabry-pro/MabryPro-Regular.woff2'),
    url('../fonts/mabry-pro/MabryPro-Regular.woff');
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-display: swap;
  ascent-override: 100%;
}
@font-face {
  font-family: 'Mabry Pro';
  src: local('Mabry Pro Bold'), url('../fonts/mabry-pro/MabryPro-Bold.woff2'),
    url('../fonts/mabry-pro/MabryPro-Bold.woff');
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-display: swap;
  ascent-override: 100%;
}
@font-face {
  font-family: 'Mabry Pro';
  src: local('Mabry Pro Black'), url('../fonts/mabry-pro/MabryPro-Black.woff2'),
    url('../fonts/mabry-pro/MabryPro-Black.woff');
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-display: swap;
  ascent-override: 100%;
}

*:not(.connect-button *) {
  font-family: 'Mabry Pro', 'Space Grotesk', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
  outline: none;
}

.spin {
  animation: spin 10s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle-border {
  height: 120px;
  width: 120px;
  top: 840px;
  left: -488px;
  box-shadow: 0 6px 32px -1px rgba(0, 0, 0, 0.08);
}

.circle-border::after {
  content: '';
  display: block;
  width: 78px;
  height: 78px;
  border: 1px solid rgba(131, 131, 131, 0.175);
  position: absolute;
  transform: scale(0.5);
  left: 0;
  top: 0;
  transform: translate(20px, 20px);
  border-radius: 100%;
}

.w-488 {
  width: 488px;
}

.inventory {
  padding-top: 20vh;
  padding-left: calc(41vw - 400px);
}

.inventory:first-child {
  width: 400px;
}

.level-bar {
  padding-left: 196px;
}

header {
  max-width: 1223px;
}

@media (max-width: 700px) {
  header {
    width: unset;
  }
  .w-488 {
    width: unset;
  }
  .inventory {
    padding-top: 2vh;
    padding-left: 0;
  }
  .inventory:first-child {
    width: unset;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  header {
    width: 90vw;
  }
  .w-488 {
    width: unset;
  }
  .inventory {
    padding-top: 2vh;
    padding-left: 0;
  }
  .inventory:first-child {
    width: unset;
  }
  .level-bar {
    padding-left: 110px;
  }
}